body
    font-family: monospace;
    background-color: #eee;
    margin: 40px;

a
    color: #000000;

h2
    margin: 0.3em 0;

h4
    text-decoration: underline;

.image_wrap
    height: 247px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 100%;

.image_wrap img
    width: 140%;
    color: #000000;
    height: auto;
    top: -10%;
    position: absolute;
    left: -20%;

.content
    width: 400px;
    height: 250px;
    float: left;
    padding: 0px 40px 140px 0px;
    max-width: 100%;

.content--top
    height: 150px;
    text-decoration: none;
    color: black;

.section
    clear: both;

.navbar-item
    display: block;
    margin: 0.5em 0;