@import './grid'

*
    box-sizing: border-box;

body
    font-family: monospace;
    background-color: #eee;
    margin: 40px;

a
    color: #000000;

h2
    margin: 0.3em 0;

h3
    text-decoration: underline;

.image_wrap
    display: block;
    position: relative;
    width: 100%;

.image_wrap img
    width: 100%;
    color: #000000;
    height: auto;

.section
    clear: both;

.navbar-item
    display: block;
    margin: 0.5em 0;

.content
  margin-bottom: 3em;